.try-again-button {
   height: 80px;
   width: 300px; 
   font-size: 30px;
   color: white;
   border-radius: 12px;
   background-color: black;
   opacity: 60%;
}

.failure {
    margin: 30px;
    display: flex;
   align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 80px;
}

h3 {
    font-size: 40px;
}

body {
    background: url(/public/images/failurebackground.jpeg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }